@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {
    --main-color: #6DBFE2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    /* background-color: #1e3a5f; */
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: background-color 0.3s;
}

header .header-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    z-index: 1;
    color: white;
    padding-top: 10px;
    width: 1300px;
}

header .header-top {
    padding: 10px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    color: black; /* Change text color to black */
}

header .header-top .logo {
    position: relative;
    width: 135px;
    height: auto;
}

header .header-top>div>ul {
    display: flex;
}

header .header-top>ul {
    border: 1px solid none;
    padding: 5px 10px;
}

header .header-top a {
    color: white;
}

.flag-icon {
    width: 20px; 
    height: auto;
    margin-right: 5px; 
    vertical-align: middle; 
}

.nav-item a i.fa-chevron-down {
    color: white;
}

.nav-item {
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.463);
}

header .login-btn {
    border: 2px solid black;
    margin: 0 15px;
}

header .login-btn i {
    padding-right: 8px; 
}

header .login-btn:hover {
    background-color: rgba(31, 29, 29, 0.463);
}

header .register-btn {
    width: 90px;
    background-color: rgb(16, 151, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .register-btn:hover {
    background-color: rgb(13, 99, 170);
}

header .option {
    padding: 10px;
    position: relative;
    z-index: 100;
    color: white; 
}

header .option ul {
    display: flex;
    gap: 20px;
}

header .option li {
    font-weight: bold;
    border: 1px solid none;
    border-radius: 10px;
    padding: 5px 10px;
}

header .option li:hover {
    background-color: rgba(29, 28, 28, 0.463);
}

header .option a {
    color: white;
}

header .option a i {
    font-size: 10px; 
}

.submenu {
    width: 200px; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1, 0);
    transform-origin: top;
    transition-duration: 0.5s;
    z-index: 3; 
    display: flex;
    flex-direction: column;
}

.submenu li {
    padding: 10px 0;
    border-bottom: 0px solid black;
}

.submenu li:hover{
    background-color: rgba(170, 160, 160, 0.463);
}

.submenu li a {
    display: flex;
    align-items: center;
    color: grey;
}

.submenu li a i {
    padding-right: 10px; 
}

.support-menu.active .submenu,
.more-menu.active .submenu {
    transform: scale(1, 1);
}

.currency-submenu {
    width: auto; 
    max-width: 500px; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1, 0);
    transform-origin: top;
    transition-duration: 0.5s;
    z-index: 3;
}

.currency-submenu table {
    width: 500px; 
    border-collapse: collapse;
}

.currency-submenu th, .currency-submenu td {
    padding: 5px 10px;
    text-align: left;
}

.currency-submenu th + th, .currency-submenu td + td {
    border-left: 1px solid #ddd;
}

.currency-submenu tr td a {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: black; /* Ensure text is black */
}

.currency-submenu img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.currency-submenu a:hover {
    background-color: rgba(170, 160, 160, 0.463);
}

.currency-menu.active .currency-submenu {
    transform: scale(1, 1);
}


header .title {
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
    color: white;
}

header .menu-container {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid black;
}

header .menu {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .menu li {
    margin: 0 10px;
}

header .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

header .menu li a i {
    margin-right: 8px;
}

header .menu li a:hover {
    background-color: #fff;
    color: #ff6f61;
    padding: 10px 15px;
    border-radius: 25px;
}

header .background {
    position: relative;
    height: 560px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

header .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 20px auto;
    padding-top: 20px;

}

#searchInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
    font-size: 16px;
}

#searchButton {
    padding: 10px 20px;
    border: none;
    background-color:rgb(255, 94, 31);
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 16px;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.categories span {
    padding: 5px 30px;
    background-color: rgba(34, 34, 34, 0.401);
    border-radius: 5px;
    cursor: pointer;
}

.categories span:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.other{
    display: flex;
    align-items: center;
    justify-content: center;
}
.suggestions {
    display: none;
    background-color: #222;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 10px;
    height: 50vh;
    width: 90vw;
    z-index: 2;
}

.suggestions h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.suggestion-items {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

.suggestion-items span {
    background-color: none;
    padding: 10px 30px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggestion-items span:hover {
    background-color: #444;
}
.trusted-by{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
.main-content{
    width: 100%;
    height: 5555px;
    border-radius: 100px 100px 0 0;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    overflow: hidden;
}

.main1 img{
    display: flex;
    margin-top: 70px;
    margin-left: 138px;
    width: 1200px;
    height: 275px;
    border-radius: 10px;
}
.main11  img{
    display: flex;
    margin-top: 70px;
    margin-left: 138px;
    width: 1200px;
    height: 150px;
    border-radius: 10px;
}
.smallmain1{
    width: 100%;
}
.smallmain1 img{
    border-radius: 10px;
}

.main-content .smallmain1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.up h2{
    margin-left: 135px;
    color: rgba(67,67,67,1.00);
    font-size: 24px;
    line-height: 28px;
    margin-top: 40px;
}

.up .card {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    transition: background-color 0.3s, color 0.3s;
}
.up .card img {
    width: 100%;
    height: auto;
}
.up .card p {
    padding: 10px;
    margin: 0;
    font-weight: 700;
    color: rgba(67,67,67,1.00);
    font-size: 14px;
}

.main-content .smallmain2{
    display: flex;
    margin-left: 125px;
}
.flight{ 
   height: 800px;
   width: 1250px;
   transform: translateX(10%);
   position: absolute;
}
.flight .titt img{
    margin-top: 50px;
    padding-right: 10px;

}
.flight h2{
    color: rgba(67,67,67,1.00);
}
.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 30px;
}

.tab {
    padding: 10px 20px;
    margin: 0 3px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
    color:rgba(1,148,243,1.00);
    font-size: 14px;
}
.tab:hover {
    background-color: #007bff;
    color: white;
}
.cards {
    display: flex;
    justify-content: center;
}
.cards img{  
    height: 290px;
    width: 310px;
    border-bottom: 1px solid #e0e0e0;
}
.card1 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    overflow: hidden;
    transition: transform 0.2s;
}
.card1:hover {
    transform: translateY(-5px);
}
.info{
    margin: 10px 10px;
}
.info .airline {
    font-weight: bold;
    margin: 0;
    color: rgba(67,67,67,1.00);
}
.info .route {
    color: #555;
    margin: 5px 0;
}

.info .date {
    color: #888;
    font-size: 12px;
}

.info .price {
    color: #e63946;
    font-weight: bold;

}
.ordernow{
    display: flex;
    align-items: center;
    height: 40px;
    width: 290px;
    margin-left: 37%;
    margin-top: 15px;
    background-color: rgba(247, 249, 250, 1.00);
    border-radius: 7px;
}
.ordernow i{
    padding-left: 7px;
    color: rgba(27,160,226,1.00);
}
.ordernow a{
    color: rgba(27,160,226,1.00);
    margin-left: 55px;
    font-weight: 700;   
    font-size: 17px;
}
.tabss{
    margin-top: 90px;
    font-weight: 700;
}
.ticket img{
    width: 392px;
    height: 196px;
    margin-top: 30px;
    margin-left:5px ;
    border-radius: 7px;
}
.seemore{
    display: flex;
    align-items: center;
    height: 40px;
    width: 240px;
    margin-left: 39%;   
    margin-top: 15px;
    background-color: rgba(247, 249, 250, 1.00);
    border-radius: 7px;
}

.seemore i{
    padding-left: 7px;
    color: rgba(27,160,226,1.00);
    align-items: center;
    justify-content: center;
    
}

.seemore a{
    color: rgba(27,160,226,1.00);
    margin-left: 60px;
    font-weight: 700;   
    font-size: 17px;
}

.multi .dadang img{
    margin-top: 70px;
    padding-right: 10px; 
}

.multi .tab{
    color: rgba(7,112,205,1.00);    
}

.multi .tabsss{
    margin-top: 35px;
    font-weight: 700;
}

.hotel-list {
    display: flex;
    gap: 20px;
    margin-top: 26px;
}

.hotel-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
}

.location {
    background-color: #0073e6;
    color: white;
    padding: 5px 10px;
    position: absolute;
    border-radius: 4px;
    font-size: 14px;
}

.hotel-list img{
    width: 100%;
    height: 195px;
    object-fit: cover;
}

.discount {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 145px;
    border-radius: 4px;
}

.details {
    padding: 15px;
    margin-bottom: 8px;
}

.details h3 {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-style: normal;
    color: rgba(67, 67, 67, 1.00);
    font-weight: 700;
}

.rating {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}

.stars {
    color: gold;
}

.score {
    margin-left: 5px;
}

.price {
    font-size: 16px;
}

.old-price {
    text-decoration: line-through;
    color: #999;
}

.new-price {
    color: rgba(249,109,1,1.00);
    font-weight: bold;  
}
.now{
    display: flex;
    align-items: center;
    height: 40px;
    width: 290px;
    margin-left: 37%;
    margin-top: 20px;
    background-color: rgba(35, 93, 159, 1.00);
    border-radius: 7px;
}
.now i{
    padding-left: 7px;
    color: rgba(255,255,255,1.00);
    align-items: center;
    justify-content: center;
        
}
    
.now a{
    color: rgba(255,255,255,1.00);
    margin-left: 60px;
    font-weight: 700;   
    font-size: 17px;
}
.cant{
    margin-top: 50px;
}
.cant span{
    color: rgba(143,143,143,1.00);
    font-weight: 700;
}
.cant h2{
    margin-bottom: 17px;
    color: rgba(67, 67, 67, 1.00);
    font-size: 24px;
}
.palace {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
.location1 {
    background-color: rgba(255, 109, 112, 1.00);
    color: white;
    padding: 5px 10px;
    position: absolute;
    border-radius: 4px;
    font-size: 14px;
}
.palace img{
    width: 292px;
    height: 195px;
    object-fit: cover;
    border-radius: 7px;
}
.palace .old-price {
    text-decoration: line-through;
    color: #999;
}

.palace .new-price {
    color: rgba(249,109,1,1.00);
    font-weight: bold;  
}
.seeall{
    display: flex;
    align-items: center;
    height: 40px;
    width: 240px;
    margin-left: 39%;   
    margin-top: 15px;
    background-color: rgba(247, 249, 250, 1.00);
    border-radius: 7px;
}

.seeall i{
    padding-left: 7px;
    color: rgba(27,160,226,1.00);
    align-items: center;
    justify-content: center;
    
}

.seeall a{
    color: rgba(27,160,226,1.00);
    margin-left: 70px;
    font-weight: 700;   
    font-size: 17px;
}
.abroad{
    margin-top: 70px;
}
.titleab {
    margin-bottom: 25px;
}

.titleab img{
    margin-right: 9px;
}

.destination-list {
    display: flex;
    gap: 10px;
}

.destination-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.destination-item img {
    width: 235px;
    height: 309px;
    object-fit: cover;
    border-radius: 7px;
}

.destination-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.destination-info h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.destination-info p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 500;
}

.reason h2 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.benefit-item {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: top;
    border: 2px solid rgb(170, 169, 169);
    border-radius: 10px;
    color: rgba(3, 18, 26, 1.00);
}

.benefit-item img {
    width: 50px;
    height: 50px;
}
.explore{
   padding-top: 80px;
}
.explore .tabs{
    display: flex;
    padding-top: 24px;
    margin-bottom: 20px;
}
.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
}

.flights-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.flights-list li {
    width: 20%;
    margin: 12px;
    text-align: left;

}
.flights-list a{
    color: rgb(104, 113, 118);
    font-weight: 500;
    font-size: 14px;
}
.flights-list li a:hover{
    color: rgba(1, 148, 243);
}
.always{
    transform: translateX(-10%);
    margin-top: 80px;
    height: 404px;
    width: 100%;
}
.always .back1 img{
    width: 1476px;
    height: 405px;
}
.always img{
    position: absolute;
    width: 330px;
    height: 405px;
}
.always .back2 img{
    position: absolute;
    margin-left: 100px;
    width: 278px;
    height: 365px;
    margin-top: 40px;
}
.always .taito{
    position: absolute;
    display: flex;
    margin-left: 500px;
    margin-top:40px ;
    font-size: 32px;
    font-weight: 700;
    margin-right: 170px;
}
.always .back3 img{
    position: absolute;
    width: 420px;
    height: 115px;
    left: 85%;
    top: 290px;
}
.always .mail{
    position: absolute;
    display: flex;
    width: 50%;
    margin-top: 14%;
    margin-left: 40%;
}
#search{
    padding: 0 20px;
    border: none;
    background-color:rgb(255, 94, 31);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
}
#searchInputt {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
}

.have p{
    position: absolute;
    font-size: 20px;
    display: flex;
    margin-left: 500px;
    margin-top:20% ;
    font-weight: 700;
    margin-right: 200px;
}
.qr img{
    width: 66px;
    height: 66px;
    margin-left: 40%;
    margin-top: 25%;
    border: 5px solid gray;
    border-radius: 5px;
}
.ggplay img{
    margin-left: 46%;
    margin-top: 26%;
    width: 135px;
    height: 40px;
}
.apple img{
    margin-left: 58%;
    margin-top: 26%;
    width: 135px;
    height: 40px;
}


footer {
    background: rgba(28, 41, 48, 1.00);    
    color: rgba(255, 255, 255, 1.00);
    text-align: center;
    bottom: 0;
    margin-top: 4950px;
}
.footer-columns .certi {
    width: 330px;
    margin-right: 10px;
}
.footer-columns .certi img {
    margin-right: 30px; 
    margin-bottom: 15px;   
}
.footer-columns .certi1 {
    width: 100px;
}
.footer-columns .payment{
    width: 140px;
    margin-bottom: 10px;
}

.coor{
    height: 56px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #354148;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 20px;
}
.coor span{
    font-size: 16px;
    font-weight: 500;
}

.footer-columns {
    display: flex;
    padding: 30px 100px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    z-index: 2;
}


.banking {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.bank {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    border-radius: 10px;
    padding: 10px; 
    box-sizing: border-box;
    height: 45px;
}

.bank img {
    max-width: 100%;
    height: auto;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    margin-right: 20px;
    margin-bottom: 10px;
}

.social-icons li a {
    color: rgba(255, 255, 255, 1.00);
    font-size: 14px;
    display: flex;
   
}
.social-icons li a i {
    margin-right: 8px;
    font-size: 18px;
}

.app-download {
    margin-top: 30px;
}

.app-download h3 {
    font-size: 16px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 1.00);
}

.app-download a img {
    margin-right: 10px;
    max-width: 150px;
}

.footer-section h3{
    margin-bottom: 15px;
    margin-top: 25px;
    
}
.footer-section ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    
}

.footer-section ul li {
    margin-bottom: 20px;  
    margin-right: 50px; 
    margin-left: 0;
    padding-left: 0;
}

.footer-section ul li a {
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: rgba(28, 41, 48, 1.00);
    padding: 10px;
    border-top: 2px solid gray;
}

.footer-bottom p {
    margin: 10px 0;
    font-size: 15px;
    font-size: 14px;
    color: rgba(255,255,255,1.00);
    font-weight: 500;
}


